################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

metadatabeat:
  # Port defines metadata rtp stream port
  port: 5010
  
  # Interfaces are a list of interfaces to receive multicast on
  interfaces: 
    - "enp0s31f6"

  # Addresses are a list of multicast addresses to subscribe to.
  addresses:
    - "239.131.10.225"

